IndexCreator/PvKatalogsystem.IndexCreation/Configuration/IndexCreationConfiguration.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:PvKatalogsystem.IndexCreation.Configuration" elementFormDefault="qualified" targetNamespace="urn:PvKatalogsystem.IndexCreation.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="indexCreationConfig" type="tns:PvKatalogsystem.IndexCreation.Configuration.IndexCreationConfigCT" />
	<xs:complexType name="PvKatalogsystem.IndexCreation.Configuration.IndexCreationConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element minOccurs="0" name="masterServer" type="tns:PvKatalogsystem.IndexCreation.Configuration.MasterServerConfigCT">
					<xs:annotation>
						<xs:documentation>The MasterServer.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="replicationServer" type="tns:PvKatalogsystem.IndexCreation.Configuration.ReplicationServerCollectionCT">
					<xs:annotation>
						<xs:documentation>The ReplicationServer.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="indices" type="tns:PvKatalogsystem.IndexCreation.Configuration.IndexCollectionCT">
					<xs:annotation>
						<xs:documentation>The Indices.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="database" type="tns:PvKatalogsystem.IndexCreation.Configuration.DatabaseConfigCT">
					<xs:annotation>
						<xs:documentation>The Database.</xs:documentation>
					</xs:annotation>
				</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PvKatalogsystem.IndexCreation.Configuration.MasterServerConfigCT">
		<xs:attribute name="uri" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Uri.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PvKatalogsystem.IndexCreation.Configuration.ReplicationServerCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="server" type="tns:PvKatalogsystem.IndexCreation.Configuration.ReplicationServerConfigCT">
				<xs:annotation>
					<xs:documentation>The ReplicationServerConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PvKatalogsystem.IndexCreation.Configuration.ReplicationServerConfigCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="uri" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Uri.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PvKatalogsystem.IndexCreation.Configuration.IndexConfigCT">
		<xs:attribute name="relativeUri" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RelativeUri.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="managementTable" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ManagementTable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="chunkSize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ChunkSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="replication" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Replication.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PvKatalogsystem.IndexCreation.Configuration.IndexCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="index" type="tns:PvKatalogsystem.IndexCreation.Configuration.IndexConfigCT">
				<xs:annotation>
					<xs:documentation>The IndexConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="threads" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Threads.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="namespace" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Namespace.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PvKatalogsystem.IndexCreation.Configuration.DatabaseConfigCT">
		<xs:attribute name="sourceConnectionString" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The SourceConnectionString.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="managementConnectionString" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ManagementConnectionString.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
